<!DOCTYPE html>
<meta charset=utf-8>
<html>
<head>
	<title>Welcome to Tony's Pizza</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<%= template %>
	<footer> <!-- Ska länga till admin login -->
		<a href="adminLogin"> 
			To admin
		<a/>
		<a href="/">Return to menu page</a>
	<footer/>
</body>
</html>